<.header>
  New Channel
  <:subtitle>Use this form to manage channel records in your database.</:subtitle>
</.header>

<.channel_form changeset={@changeset} action={~p"/channels"} />

<.back navigate={~p"/channels"}>Back to channels</.back>
