<.header>
  Channel <%= @channel.id %>
  <:subtitle>This is a channel record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/channels/#{@channel}/edit"}>
      <.button>Edit channel</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @channel.name %></:item>
  <:item title="Description"><%= @channel.description %></:item>
  <:item title="Psk"><%= @channel.psk %></:item>
</.list>

<.back navigate={~p"/channels"}>Back to channels</.back>
